extends layout

block content
    img.image(src= "/images/" + hersteller + '.svg')

    .chart-container
        .chart1
            canvas(id=hersteller, width="100", height="80")
        .chart2
            canvas(id='schraubenart', width="100", height="80")
        .chart3
            canvas(id="schraubenumsatz", width="100", height="80")
        .chart2  
            h4 Umsatz für #{schraubenart} pro Tag #{monat}



            form(action="/details/"+ hersteller method="GET")
                select(id='schraubenartDropdown' name="schraubenart")
                    option(value=''>Alle Schraubenarten)
                    each schraubenart in schrauben
                        option(value=schraubenart)= schraubenart
                select(id='monatDropdown' name="monat")
                    option(value=''>Alle Monate)
                    each monat in monate
                        option(value=monat)= monat
                button(type="submit") Umsatz anzeigen
            canvas(id="SchraubePerMonths", width="100", height="100")
        
        

    each chart in herstellercharts
        script(src=`/javascripts/${chart}.js`)


    script.
        const percentage = !{JSON.stringify(percentageData)};
        const hersteller = "#{hersteller}";
        drawdetails(percentage,hersteller);
        const count = !{JSON.stringify(schraubenarten)};
        drawschraubenart(count);
        const schraubenumsatz  = !{JSON.stringify(umsatz)};
        drawschraubenumsatz(schraubenumsatz);
        const umsatz = !{JSON.stringify(umsatzData)};
        drawSchraubePerMonths(umsatz);