extends layout

block content
    img.image(src= "/images/" + hersteller + '.svg')

    .chart-container
        .chart1
            canvas(id=hersteller, width="100", height="80")
        .chart2
            canvas(id='schraubenart', width="100", height="80")

        
        

    each chart in herstellercharts
        script(src=`/javascripts/${chart}.js`)

    script.
        const percentage = !{JSON.stringify(percentageData)};
        const hersteller = "#{hersteller}";
        drawdetails(percentage,hersteller);

        const count = !{JSON.stringify(schraubenarten)};
        drawschraubenart(count);

    