extends layout

block content
    h1= hersteller
    
    .chart
      canvas(id=hersteller, width="100", height="80")

    each chart in herstellercharts
        script(src=`/javascripts/${chart}.js`)

    script.
        const percentage = !{JSON.stringify(percentageData)};
        const hersteller = "#{hersteller}";
        drawdetails(percentage,hersteller);
        
        
