extends layout

block content
  .chart-container

    .chart1  
      
      h5 Umsatz für #{schraubenart} pro Tag #{monat}

      form(action="/" method="GET")
        select(id='schraubenartDropdown' name="schraubenart")
          option(value=''>Alle Schraubenarten)
          each schraubenart in schraubenarten
            option(value=schraubenart)= schraubenart
        = '\u00A0\u00A0\u00A0' 
        select(id='monatDropdown' name="monat")
          option(value='2023-06'>Alle Monate)
          each monat in monate
            option(value=monat)= monat
        = '\u00A0\u00A0\u00A0' 
        button(type="submit") Umsatz anzeigen
      canvas(id="SchraubePerMonths", width="80", height="60")
    .chart2
      canvas(id="top3Hersteller", width="80", height="60")
    .chart3
      canvas(id="bestDayOfWeek", width="80", height="60")

    .chart2
      canvas(id="top3Schrauben", width="80", height="60")

    .chart3   
      canvas(id="bestdayever", width="80", height="60")

    
    



  each chart in charts
    script(src=`/javascripts/${chart}.js`)
    

  script.
    const topSchraubenData = !{JSON.stringify(topSchrauben)};
    drawTop3SchraubenChart(topSchraubenData);
    const topHerstellerData = !{JSON.stringify(topHersteller)};
    drawTop3HerstellerChart(topHerstellerData);
    const bestDayData = !{JSON.stringify(bestday)};
    drawbestdayever(bestDayData);
    const bestDayofWeekData = !{JSON.stringify(bestDayOfWeek)};
    drawBestDayOfWeekChart(bestDayofWeekData);
    const umsatz = !{JSON.stringify(umsatzData)};
    drawSchraubePerMonths(umsatz);
