extends layout

block content
  .chart-container
    .chart1
      //- h1= title
      //- p Welcome to #{title}
      //- h1 Schrauben
      canvas(id="top3Hersteller", width="100", height="80")
      //- canvas(id="HerstellerSchraube", width="100", height="80")

      //- img(src="/images/schraube.jpg", alt="test")
      //- pre= JSON.stringify(schrauben, null, 2)
    
    .chart2
      canvas(id="top3Schrauben", width="100", height="80")

    .chart3   
      //- canvas(id="saph", width="100", height="80")
      canvas(id="bestdayever", width="100", height="80")
    .chart3   
      canvas(id="bestDayOfWeek", width="100", height="80")

  each chart in charts
    script(src=`/javascripts/${chart}.js`)
    

  script.
    const topSchraubenData = !{JSON.stringify(topSchrauben)};
    drawTop3SchraubenChart(topSchraubenData);
    const topHerstellerData = !{JSON.stringify(topHersteller)};
    drawTop3HerstellerChart(topHerstellerData);
    const bestDayData = !{JSON.stringify(bestday)};
    drawbestdayever(bestDayData);
    const bestDayofWeekData = !{JSON.stringify(bestDayOfWeek)};
    drawBestDayOfWeekChart(bestDayofWeekData);
